@model WebApp.Areas.Admin.Models.AdminUserViewModel
@if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
{
    <div class="alert alert-success d-flex justify-content-center align-items-center">@TempData["SuccessMessage"]</div>
}

<link href="img/favicon.png" rel="shortcut icon">
<!-- PLUGINS CSS STYLE -->
<!-- Bootstrap -->
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/bootstrap-slider.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Owl Carousel -->
<link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick-theme.css">
<!-- Fancy Box -->
<link rel="stylesheet" href="~/plugins/fancybox/jquery.fancybox.pack.css">
<link rel="stylesheet" href="~/plugins/jquery-nice-select/css/nice-select.css">
<!-- CUSTOM CSS -->
<link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
@{
    var imagePath = Url.Content(Model.UserImagePath);
}
<section class="user-profile section">
    <div class="wrapper">
        <div class="top-icons" style="margin-left: 150px; margin-bottom: 20px;">
            <a asp-area="" asp-controller="Home" asp-action="Index" style="display: block; margin-bottom: 10px;">
                <i class="fas fa-home"></i> Go to Home Page
            </a>
            <a asp-action="Detail" asp-controller="User" asp-route-id="@Model.Id" style="display: block;">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Go to User Details Page
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">

                <div class="sidebar">
                    <!-- User Widget -->

                    <div class="widget user" >
                        <form style="width:5px; height:5px;" method="post" asp-action="DeleteImage" asp-controller="AdminUser" asp-area="Admin" asp-route-id="@Model.Id "
                              onsubmit="return confirm('Are you sure you want to delete this image?');">
                            <button type="submit" class="btn btn-sm" style="background-color:white; width:5px; height:5px;">
                                <i class="fa fa-trash" aria-hidden="true" style="color:red; margin-left:125px;"></i>
                            </button>
                        </form>

                        <!-- User Image -->
                        <div class="image d-flex justify-content-center">
                            <img src="@imagePath" alt="" class="">
                        </div>
                        <!-- User Name -->
                        <h5 class="text-center">@Model.Name</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                <!-- Edit Profile Welcome Text -->
                <div class="widget welcome-message">
                    <h2>Edit profile</h2>
                    <p>Here you can edit your profile!</p>
                </div>

                <!-- Edit Personal Info -->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="widget personal-info">
                            <h3 class="widget-header user">Edit Personal Information</h3>
                            <!-- Form for Name -->
                            <form asp-action="EditName" asp-controller="AdminUser" asp-area="Admin" asp-route-id="@Model.Id" method="post">
                                <div class="form-group">
                                    <label asp-for="Name">First Name and Last Name</label>
                                    <input asp-for="Name" placeholder="Enter your full name" type="text" class="form-control" value="">
                                </div>
                                <button type="submit" class="btn btn-transparent">Save Name</button>
                            </form>
                            <!-- Form for Title -->
                            <form asp-action="EditTitle" asp-controller="AdminUser" asp-area="Admin" asp-route-id="@Model.Id" method="post">
                                <div class="form-group">
                                    <label asp-for="Title">Your Title</label>
                                    <input asp-for="Title" placeholder="Enter your title" type="text" class="form-control" value="">
                                </div>
                                <button type="submit" class="btn btn-transparent">Save Title</button>
                            </form>

                            <!-- Form for Description -->
                            <form asp-action="EditDescription" asp-controller="AdminUser" asp-area="Admin" asp-route-id="@Model.Id" method="post">
                                <div class="form-group">
                                    <label asp-for="Description">Your Description</label>
                                    <textarea asp-for="Description" placeholder="Enter your description" class="form-control" style="width: 100%;"></textarea>
                                </div>
                                <button type="submit" class="btn btn-transparent">Save Description</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- Form for Instagram Link -->
                        <form asp-action="EditInstagramAddress" asp-controller="AdminUser" asp-area="Admin" asp-route-id="@Model.Id" method="post">
                            <div class="form-group">
                                <label asp-for="InstagramAddress">Instagram Link</label>
                                <input asp-for="InstagramAddress" placeholder="Enter your Instagram account link" type="url" class="form-control" value="">
                            </div>
                            <button type="submit" class="btn btn-transparent">Save Instagram Link</button>
                        </form>

                        <!-- Form for Facebook Link -->
                        <form asp-action="EditFacebookAddress" asp-controller="AdminUser" asp-area="Admin" asp-route-id="@Model.Id" method="post">
                            <div class="form-group">
                                <label asp-for="FacebookAddress">Facebook Link</label>
                                <input asp-for="FacebookAddress" placeholder="Enter your Facebook account link" type="url" class="form-control" value="">
                            </div>
                            <button type="submit" class="btn btn-transparent">Save Facebook Link</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Upload your new photo</h5>
                        <form method="post" asp-action="AddImage" asp-controller="AdminUser" asp-area="Admin" enctype="multipart/form-data">
                            <div class="form-group choose-file d-inline-flex">
                                <i class="fa fa-user text-center px-3"></i>
                                <input type="file" name="formFile" class="form-control-file mt-2 pt-1">
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Upload Picture</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
